html, body {
  height: 100%;
  width: 100%;
  padding: 0px;
  margin: 0px;
  border: 0px;
  font-family: 'Roboto', sans-serif;
}

#main {
  background-color: WhiteSmoke;
  height: 100%;
  width: 100%;
}
